VITE_SUPABASE_URL=https://vtdbevejuqwklekexead.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ0ZGJldmVqdXF3a2xla2V4ZWFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMyMDAwMzksImV4cCI6MjA5ODc3NjAzOX0.xPPhtrHKNe1jhgaEIyEm1FO4ppJUlF5zKztRMCanlnE
